@charset "utf-8";
/* CSS Document */
body {
  margin: 0;
font-family: 'Montserrat Alternates', sans-serif;
	background-color: #fff;
}

header, container, footer {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: auto;
}
header{
  grid-template-areas: 
    ". logo logo logo nav-bar nav-bar nav-bar .";
	background-color: #fff;
	position: fixed;
	width: 100%;
	box-shadow: 0px 1px 20px 1px #666;
}
nav ul {
	font-size: 1em;
	font-weight: 300;
	float: right;
	padding: 0;
	
}
nav li {
	float: left;
	list-style: none;
	padding-left: 1em; 
	
}
.icon-title {
    font-size: 2vw;
    font-weight: 300;
    text-align: center;
    color: #a0792b;
    padding: 0;
    margin: 0;
}
.logo {
	background-color: #fff;
	grid-area: logo;
	margin-top: 1em;
	margin-bottom: 1em;
}
.nav-bar {
	background-color: #fff;
/*	grid-column: 4/6;*/
	grid-area: nav-bar;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: .2em;
}
nav .hamburger{
	display: none;
}
.slider {
	grid-column: 1/9;
	margin-top: 5.5em;
}
.slider img {
    width: 100%;
}
.icons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column: 2/8;
	grid-gap: 1em;
	margin-top: 1em;
    margin-bottom: 1em;
}
.icon {
	background-color: #fff;
}
.icon img {
    width: 100%;
}
@media only screen and (max-width: 1000px) {

    nav ul {
        padding-right: 2em;
    }
	.icons {
	grid-column: 1/9;
        padding-left: 1em;
        padding-right: 1em;
        grid-gap: 0;
	}
	header{
  	grid-template-areas: 
    "logo logo logo logo nav-bar nav-bar nav-bar nav-bar";
	}
	.logo {
	padding-left: 2em;
	}
}
@media only screen and (max-width: 800px) {
	nav .hamburger{
	float: right;
	padding-right: 2em;
	padding-top: .5em;
	display: block;
	}
	nav ul {
	display: none;
	
	}
}
@media only screen and (max-width: 600px) {
	header{
  	grid-template-areas: 
    "logo logo logo logo logo nav-bar nav-bar nav-bar";
	}
	nav .hamburger{
	float: right;
	padding-right: .5em;
	padding-top: .2em;
	display: block;
	}
	.logo {
	padding-left: .5em;
		padding-top: .2em;
	margin-top: .9em;
	margin-bottom: 1em;
	}
	.logo img {
		width: 12em;
	}
	.icons {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-column: 1/9;
	grid-gap: 1em;
	}
	.slider {
	margin-top: 5em;
	}
    .icon-title {
        font-size: 8vw;
        margin-bottom: 1em;
    }
}